@font-face {
    font-family: 'Nunito';
    src: url(/Nunito-VariableFont_wght.woff2) format('woff2');
   }

*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/bg.png);

    background-size: cover;
}
section {
    display: flex;
    justify-content: center; /* centraliza o conteúdo na horizontal */
    align-items: center; /* centraliza o conteúdo na vertical */
    height: 95vh;
}
  
.container {
    background: #ffff;
    width: 60%;
    height: 70%;
    border-radius: 10px;
    padding: 30px;
  }
  
.container_text {
    text-align: center;    

}
.container_text h1{
    font: bold 1.5em Nunito;
    text-align: center;

}
.container_text h2{
    font: normal .9em Nunito;
    text-align: center;
    margin: 20px auto;
}
.container_text p{
    font: normal .8em arial;
    text-align: center;
    margin: 20px auto;
}

fieldset{
    font: bold .8em nunito;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 15px;
}
input{
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #d0d0d0;
    max-width: 40%;
    margin: 0 5px 20px;

}

.button-sex{
    border: solid 1px #d0d0d0;
    border-radius: 5px;
    cursor: pointer;
}

.calcular{
    background-color: rgb(86, 92, 126);
    border: solid 1px #d0d0d0;
    color: #d0d0d0;
    border-radius: 5px;
    font: bold 1em Nunito;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.res{
    text-align: center;
    margin-top: 30px;
    font: bold 1em nunito;
}