@font-face {
    font-family: 'Nunito';
    src: url(/Nunito-VariableFont_wght.woff2) format('woff2');
   }

*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/bg.png);

    background-size: cover;
}
section {
    display: flex;
    justify-content: center; /* centraliza o conteúdo na horizontal */
    align-items: center; /* centraliza o conteúdo na vertical */
    height: 100vh;
}
  
.container {
    background: #ffff;
    width: 60%;
    border-radius: 10px;
    padding: 40px;
  }
  
.container_text {
    text-align: center;    

}
.container_text h1{
    font: bold 2em Nunito;
    text-align: center;

}
.container_text h2{
    font: normal 1em Nunito;
    text-align: center;
    margin: 20px auto;
}